<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;600&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="style.css">   
    <title>iFio To Do List</title>
</head>
<body>
    <div class="nav-bar">
        <nav>iFio</nav>
        <ul class="nav-bar-list">
            <li class="nav-bar-item">
                <a href="https://fiorellafioritoporfolio.onrender.com/" target="_blank" class="nav-bar-link">My Portfolio</a>
            </li>
            
        </ul>
    </div>
    
